.prompt_submit-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 650px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(27, 39, 51, 0.25) 0px 10px 20px -8px;
  padding: 50px;
}

.prompt_submit-text {
  font-size: 24px;
  text-align: center;
  width: 100%;
  border: 1px solid red;
  line-height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.prompt_submit-image {
  position: absolute;
  top: -100px;
  left: 35%;
  width: 200px;
}

.prompt_submit-btn {
  height: 45px;
  width: 50%;
  font-size: 16px;
  align-self: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}

.prompt_submit-btn:hover {
  background-color: #fbfbfb;
}