.Landing {
  height: 100%;
}

.banner {
  height: 80vh;
  position: relative;
  background-color: rgb(54, 54, 87);
}

.banner:before {
  content: '';
  position: absolute;
  margin:0 auto;
  width:0px;
  height:0px;
  top: 0vh;
  border-left:0 solid transparent;
  border-right:200vw solid transparent;
  border-top: 6vh solid rgb(128, 124, 255);
}

.banner:after {
  content: '';
  position: absolute;
  margin:0 auto;
  width:0px;
  height:0px;
  bottom: -20vh;
  border-left: 170vw solid transparent;
  border-right: 0vw solid transparent;
  border-top: 20vh solid rgb(54, 54, 87);
}