.prompt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100%;
  background-color: #fafafafa;
}

@media only screen and (max-height: 600px) { 
  .prompt-container {
    height: 86vh;
  }
}