.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100%;
  background-color: #fafafafa;
}

.form-container {
  height: 600px;
  width: 650px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(27, 39, 51, 0.25) 0px 10px 20px -8px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.form-title {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.form-user {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

.email-label, .password-label {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}

.user-email, .user-password {
  width: 100%;
  height: 40px;
  border: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 5px;
}

.btn-submit {
  height: 45px;
  width: 50%;
  font-size: 16px;
  align-self: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 50px;
}